@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", serif;
    letter-spacing: .1rem;
}
html{
    scroll-behavior: smooth;
}
:root{
    --body-bg-color: #1A1A1D;
    --heading-color: #000000;
    --white-color: #ffffff;
    --para-color: #bbbbbb;
}
body{
}
h1,h2,h3,h4,h5{
    color: var(--heading-color);
}
h1{
    font-size: 3.5rem
}
.common-con{
    padding: 7rem 0 5rem 0;
}
/* NAVBAR START */
.navbar{
    background-color: var(--body-bg-color);
    
    & .navbar-brand, .nav-link{
        color: var(--white-color);

        &:hover{
            color: var(--para-color);
        }
    }
}
/* NAVBAR END */

/* MAIN SECTION START */
.main-section{
    background-color: var(--body-bg-color);
    height: 90vh;
    display: grid;
    place-items: center;
    position: relative;

    & .main-btn{
        width: max-content;
    }
    & p{
        color: var(--para-color);
    }
}
.main-image{
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* SHAPE DIVIDER */
.custom-shape-divider-bottom-1735891059 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1735891059 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.custom-shape-divider-bottom-1735891059 .shape-fill {
    fill: #FFFFFF;
}
/* MAIN SECTION END */

/* SERVICE SECTION START */
.service-hr{
    width: 20%;
}
.service-gif{
    max-width: 100%;
    width: 10rem;
    height: auto;
}
.columns{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* gap: 0 2rem; */
}
/* SERVICE SECTION END */

/* REVIEWS SECTION START */
.reviews-section{
    background-color: var(--body-bg-color);
}
/* REVIEWS SECTION  END */

/* CONTACT PAGE START */
.footer{
    position: relative;
}
.custom-shape-divider-top-1736146783 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1736146783 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1736146783 .shape-fill {
    fill: #ffffff;
}

.footer{
    background-color: var(--body-bg-color);

    & form{
        width: 50%;
    }

    & .container{
        padding-top: 10rem;
    }
    & hr{
        color: black
    }
    & input{
        outline: none;
    }
    & .icon-div{
        width: 4rem;
        aspect-ratio: 1;
    }
    & p{
        color: white;
    }
}
.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-con{
    padding-top: 5rem;
}
/* CONTACT PAGE END */

/* MEDIA QUARIES START */
@media (width <= 992px){
    .main-section {

        & .container{
            margin: 4rem 0;
    
            & h1{
                font-size: 2.5rem;
            }
        }
    }
    
}
@media (width <= 991px){
    .main-section {
        height: auto;

        & .container {
            & .row{
                flex-direction: column-reverse;
    
            }
            & video{
                margin-bottom: 2rem;
            }
        }
    }
    .service-section{

        & .columns{
            margin-bottom: 4rem;
            width: 70%;
        }
    }
    .footer{

        & form{
            width: 80%;
        }
    }
    .service-img{
        display: none;
    }
    
    
}
@media (width <= 767px){

    .footer{

        & form{
            width: 100%;
        }
    }
    .contact-btn{
        display: grid;
        place-items: start;
    }
}
/* MEDIA QUARIES END */
